@import "tailwindcss";
@plugin "daisyui";
@font-face {
    font-family: "BungeeTint";
    src: url("../static/fonts/BungeeTint-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-Bungee: BungeeTint;
}

@plugin "daisyui/theme" {
    name: "hello";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.2x6% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(21% 0.034 264.665);
    --color-primary-content: oklch(87% 0.01 258.338);
    --color-secondary: oklch(37% 0.034 259.733);
    --color-secondary-content: oklch(86% 0.005 56.366);
    --color-accent: oklch(44% 0.11 240.79);
    --color-accent-content: oklch(50% 0.134 242.749);
    --color-neutral: oklch(21% 0.006 285.885);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(52% 0.105 223.128);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(50% 0.118 165.612);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(55% 0.163 48.998);
    --color-warning-content: oklch(100% 0 0);
    --color-error: oklch(51% 0.222 16.935);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}